<%= render "sidebar", collections: @collections, collection: @collection, user: @user %>
    <p>
    <div class="editBox">
    <h1>Edit collection</h1>
    <%= render "form", collections: @collections, collection: @collection %>
    </div>