<%= render "sidebar", collections: @collections, collection: @collection, user: @user %>
  <div class="welcome">
  <h1>Welcome to Our ToDo App</h1>
    <p>This is a task management application made by Andrés Chaparro, Claudio Díaz and Alberto Díaz.<br><p> To navigate through it you can use the slidebar on the left.</p>
    <image style="width:100%; max-width:855px; min-width:400px" <%= image_tag("welcome.svg") %></image>
  </div>
  
