<%= render "sidebar", collections: @collections, collection: @collection, user: @user %>
    <p>
    <div class="editBox">
    <h1>New collection</h1>
    <%= render "form", collection: @collection %>
    </div>
