<%= render "collections/sidebar", collections: @collections, collection: @collection, user: @user %>
    <p>
    <h1>Add Friend</h1> 
    Email's friend:
    <input id="add_friend" size="30" type="text" />
    <a href="">
        <button>Search Friend</button>
    </a>